{% extends 'base.html.twig' %}

{% block title %}ForumLearnig - S'inscrire{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <!-- Img -->
        <div class="col-12 col-md-10 col-lg-8 text-center px-4 my-4">
            <img src="{{ asset('assets/img/img-accueil.svg') }}" class="img-fluid" alt="ForumLearning">
        </div>

        <!-- Title -->
        <div class="col-12 text-center mt-2 mb-3">
            <h1 class="logo">Forum<span class="span-logo">Learning</span></h1>
        </div>

        <!-- Alert -->
        <div class="col-12 text-center my-2">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
        </div>

        <!-- Form -->
        <div class="col-12 col-md-10 col-lg-8 col-xxl-6 px-4">
            <h2 class="h3 my-3 title-create text-center">Créer un compte</h2>
            
            <div class="form-group">
                
            </div>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.pseudo) }}
                    
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
