{% extends 'base.html.twig' %}

{% block title %}ForumLearning - Liste des topics{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}

<div class="container body-gray">

</div>
    <h1>Topics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Créateur</th>
                <th>Date</th>
                <th>like</th>
                <th>dislike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topicsRecent %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.title }}</td>
                <td>{{ topic.text }}</td>
                <td>{{ topic.users.pseudo }}</td>
                <td>{{ topic.date ? topic.date|date('H:i d-m-Y') : '' }}</td>

                <td><a href="{{ path('topic_like', {'id' : topic.id}) }}" class="js-like">
                    <span class="js-likes">{{topic.likes | length}}</span>
                    {% if topic.likeBy(app.user)%}
                    <i class="fas fa-thumbs-up"></i>
                    {% else %}
                    <i class="far fa-thumbs-up"></i>
                    {% endif %}
                </a></td>
                <td><a href="{{ path('topic_dislike', {'id' : topic.id}) }}" class="js-dislike">
                    <span class="js-dislikes">{{topic.dislikes | length}}</span>
                    {% if topic.dislikeBy(app.user)%}
                    <i class="fas fa-thumbs-down"></i>
                    {% else %}
                    <i class="far fa-thumbs-down"></i>
                    {% endif %}
                </a></td>
                <td>
                    <a href="{{ path('topics_show', {'id': topic.id}) }}">{{editLimit[topic.id]}}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('topics_edit', {'id': topic.id}) }}" >adm</a>
                    {% elseif (topic.users == app.user) and (editLimit[topic.id] == 1) %}
                    <a href="{{ path('topics_edit', {'id': topic.id}) }}" >user</a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('topics_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCountLike = this.querySelector('span.js-likes')
            const spanCountDislike = this.parentNode.parentNode.querySelector('span.js-dislikes');
            const iconLike= this.querySelector('i.fa-thumbs-up');
            const iconDislike= this.parentNode.parentNode.querySelector('i.fa-thumbs-down');

            axios.get(url).then(function(response){
                spanCountLike.textContent = response.data.likes;
                if(iconLike.classList.contains('fas')){iconLike.classList.replace('fas', 'far');
                } else {
                    iconLike.classList.replace('far','fas');
                }
                if(iconDislike.classList.contains('fas')){
                    spanCountDislike.textContent = response.data.dislikes;
                    iconDislike.classList.replace('fas', 'far');
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike)
        })

        function onClickBtnDislike(event){
            event.preventDefault();

            const url = this.href;
            const spanCountDislike = this.querySelector('span.js-dislikes');
            const spanCountLike = this.parentNode.parentNode.querySelector('span.js-likes');
            const iconDislike= this.querySelector('i.fa-thumbs-down');
            const iconLike= this.parentNode.parentNode.querySelector('i.fa-thumbs-up');

            axios.get(url).then(function(response){
                spanCountDislike.textContent = response.data.dislikes;
                if(iconDislike.classList.contains('fas')){iconDislike.classList.replace('fas', 'far');
                } else {
                    iconDislike.classList.replace('far','fas');
                }
                if(iconLike.classList.contains('fas')){
                    spanCountLike.textContent = response.data.likes;
                    iconLike.classList.replace('fas', 'far');
                }
            })
        }

        document.querySelectorAll('a.js-dislike').forEach(function(link){
            link.addEventListener('click', onClickBtnDislike)
        })
    </script>
{% endblock %}