{% extends 'base.html.twig' %}

{% block title %}ForumLearning - Liste des topics{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>Liste des topics</h1>
        </div>

        <div class="col-12 my-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Text</th>
                        <th scope="col">Créateur</th>
                        <th scope="col">Date</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Dislikes</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for topic in topicsRecent %}
                    <tr>
                        <td scope="row">{{ topic.id }}</td>
                        <td>{{ topic.title }}</td>
                        <td>{{ topic.text }}</td>
                        <td>{{ topic.users.pseudo }}</td>
                        <td>{{ topic.date ? topic.date|date('H:i d-m-Y') : '' }}</td>
        
                        <td>
                            <!-- Likes -->
                            <a href="{{ path('topics_like', {'id': topic.id}) }}" class="js-like d-inline-flex ">
                                {% if topic.likeBy(app.user) %}
                                    <span class="material-icons like pr-1">thumb_up</span>
                                {% else %}
                                    <span class="material-icons like pr-1">thumb_up_off_alt</span>
                                {% endif %}
                                <span class="pl-2 pr-1 js-likes">{{topic.likes | length}}</span>
                                <span>like{% if topic.likes |length > 1 %}s{% endif %}</span>
                            </a>
                        </td>
                        <td>
                            <!-- Dislikes -->
                            <a href="{{ path('topics_dislike', {'id': topic.id}) }}" class="js-dislike d-inline-flex">
                                {% if topic.dislikeBy(app.user) %}
                                    <span class="material-icons dislike pr-1">thumb_down</span>
                                {% else %}
                                    <span class="material-icons dislike pr-1">thumb_down_off_alt</span>
                                {% endif %}
                                <span class="pl-2 pr-1 js-dislikes">{{topic.dislikes | length}}</span>
                                <span>dislike{% if topic.dislikes |length > 1 %}s{% endif %}</span>
                        </a></td>
                        <td>
                            <a class="class="btn btn-sm btn-primary"" href="{{ path('topics_show', {'id': topic.id}) }}">Voir</a>
                            {% if is_granted('ROLE_ADMIN') or ((topic.users == app.user) and (editLimit[topic.id] == 1)) %}
                                <a href="{{ path('topics_edit', {'id': topic.id}) }}" >Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
            <a href="{{ path('topics_new') }}">Create new</a>
        </div>
    </div>
</div>
    
{% endblock %}