{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}
{% include 'main/header.html.twig' %}

<div class="container">
    <div class="row my-4 justify-content-center">
        <div class="col-12">
            <h1 class="text-uppercase">Ce topic</h1>
            <h2 class="h5 violet">{% if topic.reports | length > 0 %}<span class="material-icons d-inline-flex text-danger">fmd_bad</span> {% endif %}{{ topic.title }} - <span class="text-italic">Posté par {{ topic.users.pseudo }}</span></h2>
            <span class="metas">Le {{ topic.date ? topic.date|date('d/m/Y') : '' }} à {{ topic.date ? topic.date|date('H:i') : '' }}</span>
        </div>

        <!-- The content -->
        <div class="col-12 pt-3 topic-text-show">
            {{ topic.text }}
        </div>

        <div class="col-12 mt-5 mb-3 card-footer d-flex align-items-center">
            <!-- Likes -->
            <a href="{{ path('topics_like', {'id': topic.id}) }}" class="js-like d-inline-flex pr-4">
                {% if topic.likeBy(app.user) %}
                    <span class="material-icons like">thumb_up</span>
                {% else %}
                    <span class="material-icons like">thumb_up_off_alt</span>
                {% endif %}
                <span class="pl-2 pr-1 js-likes">{{topic.likes | length}}</span>
                <span>like{% if topic.likes | length > 1 %}s{% endif %}</span>
            </a>
            
            <!-- Dislikes -->
            <a href="{{ path('topics_dislike', {'id': topic.id}) }}" class="js-dislike d-inline-flex">
                {% if topic.dislikeBy(app.user) %}
                    <span class="material-icons dislike">thumb_down</span>
                {% else %}
                    <span class="material-icons dislike">thumb_down_off_alt</span>
                {% endif %}
                <span class="pl-2 pr-1 js-dislikes">{{topic.dislikes | length}}</span>
                <span>dislike{% if topic.dislikes | length > 1 %}s{% endif %}</span>
            </a>

            <a class="d-flex ml-auto mr-3 p-1" href="{{ path('commentaires_new', {'id': topic.id}) }}"><i class="material-icons pr-1">add</i>Ajouter un commentaire</a>
            {% if is_granted('ROLE_ADMIN') or ((topic.users == app.user) and (editLimit == 1)) %}
            <a class="d-flex mr-3 p-1" href="{{ path('topics_edit', {'id': topic.id}) }}"><i class="material-icons pr-1">edit</i>Éditer</a>
            {% endif %}
            <a class="d-flex text-danger p-1" href="{{ path('reports_new', {'id': topic.id}) }}" class="danger"><i class="material-icons pr-1">report</i>Signaler</a>
        </div>

        <div class="col-12 d-flex justify-content-between px-0">
            <a href="{{ path('topics_index') }}">🠐 Retour à la liste des topics</a>
            {% if is_granted('ROLE_ADMIN') or ((topic.users == app.user) and (editLimit == 1)) %}
            {{ include('topics/_delete_form.html.twig') }}
            {% endif %}
        </div>


                        
         
    </div>

    
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="h3">Les commentaires</h2>
        </div>
        {% for commentaire in topic.commentaires %}
        
        <div class="col-12 mt-3 d-flex align-items-center">
            <h4 class="violet">{{ commentaire.user.pseudo }}</h4>
            <div class="metas mt-1">
                <span class="pl-3">{{ commentaire.date ? commentaire.date|date('d/m/Y') : '' }}</span> à 
                <span>{{ commentaire.date ? commentaire.date|date('H:i') : '' }}</span> 
            </div>
            
        </div>

        <div class="col-12 topic-text-show">
            {{ commentaire.text }} 
        </div>
        <div class="col-12 text-right border-bottom py-3">
            {% if is_granted('ROLE_ADMIN') %}
            {{ include('commentaires/_delete_form.html.twig') }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
</div>

   

    
{% endblock %}
