{% extends 'base.html.twig' %} 
{% block body %}
{% include 'main/header.html.twig' %}
<div class="container mt-5">
    <div class="section">
        <a href="{{ path('topics_index') }}">🠐 Retour à la liste des topic</a>
{% for topic in topics %}
<div class="row px-3 my-4 position-relative">
    <div class="topic-box card">
        <div class="topic-title text-uppercase card-header pt-3 px-3 d-flex align-items-center justify-content-between">
            <span>{% if topic.reports | length > 0 %}<span class="material-icons d-inline-flex text-danger">fmd_bad</span> {% endif %}{{ topic.title }}</span>
            <div class="font-italic posted-by font-weight-normal px-3">
                <span>Posté par {{ topic.users.pseudo }}</span> <span>Le {{ topic.date ? topic.date|date('d/m/Y') : '' }} à {{ topic.date ? topic.date|date('H:i') : '' }}</span>
            </div>
        </div>

        <div class="col-12 pt-1 topic-text">
            {{ description[topic.id] }}
        </div>
        <div class="row align-items-center px-1 py-3">
            <div class="col pt-0 ml-3 mt-3 mb-2">
                <!-- Likes -->
                <a href="{{ path('topics_like', { id: topic.id }) }}" class="js-like d-inline-flex pr-4">
                    {% if topic.likeBy(app.user) %}
                    <span class="material-icons like">thumb_up</span>
                    {% else %}
                    <span class="material-icons like">thumb_up_off_alt</span>
                    {% endif %}
                    <span class="pl-2 pr-1 js-likes">{{ topic.likes | length }}</span>
                    <span>like{% if topic.likes | length > 1 %}s{% endif %}</span>
                </a>

                <!-- Dislikes -->
                <a href="{{ path('topics_dislike', { id: topic.id }) }}" class="js-dislike d-inline-flex">
                    {% if topic.dislikeBy(app.user) %}
                    <span class="material-icons dislike">thumb_down</span>
                    {% else %}
                    <span class="material-icons dislike">thumb_down_off_alt</span>
                    {% endif %}
                    <span class="pl-2 pr-1 js-dislikes">{{ topic.dislikes | length }}</span>
                    <span>dislike{% if topic.dislikes | length > 1 %}s{% endif %}</span>
                </a>
            </div>
            <div class="col mt-3 mb-2 pb-1">
                <span class="pl-2 d-inline-flex">{{ topic.commentaires | length }} commentaire{% if topic.commentaires | length > 1 %}s{% endif %}</span>
            </div>

            <!-- CTA -->
            <div class="ml-auto text-right pr-4 mr-2">
                <a class="btn btn-sm btn-primary mr-2" href="{{ path('topics_show', { id: topic.id }) }}">Voir</a>
                {% if is_granted('ROLE_ADMIN') or ((topic.users == app.user) and (editLimit[topic.id] == 1)) %}
                <a class="user-modif-btn" href="{{ path('topics_edit', { id: topic.id }) }}">Modifier</a>
                {% endif %}
                <input type="hidden" class="jsEditLimit" name="jsEditLimit" value="{{ topic.date ? topic.date|date('Y-m-d H:i') : '' }}" />
                <input type="hidden" class="jsAdmin" name="jsAdmin" value="{% if is_granted('ROLE_ADMIN') %} 1 {% else %} 0 {% endif %} " />
            </div>
        </div>
    </div>
</div>
{% else %}
<br />
<div class="text-warning">Pas d'entrée trouvée</div>
{% endfor %}
</div>
</div>
{% endblock %}
